<%= form_for(@spending, :html => { :class => 'spending' }) do |f| %>
  <% if @spending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spending.errors.count, "error") %> prohibited this spending from being saved:</h2>

      <ul>
      <% @spending.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="first field">
    <div class="label">
      <%= f.label :date, 'Datum van uitgave' %>
    </div>
    <div class="input">
      <%= f.text_field :date %>
    </div>
  </div>
  
  <div class="field">
    <div class="label">
      <%= f.label :amount_ex_vat, 'Bedrag (ex BTW)' %>
    </div>
    <div class="input">
      <%= f.text_field :amount_ex_vat, :class => 'money' %>
    </div>
  </div>
  
  <div class="field">
    <div class="label">
      <%= f.label :vat, 'BTW' %>
    </div>
    <div class="input">
      <%= f.text_field :vat, :class => 'money' %>
    </div>
  </div>
  
  <div class="field">
    <div class="label">
      <%= f.label :money_account_id, 'Uit welke geldbron is betaald?' %>
    </div>
    <div class="input">
      <%= collection_select(:spending, :money_account_id, MoneyAccount.all, :id, :name) %>
    </div>
  </div>
  
  <div class="field">
    <div class="label">
      <%= f.label :spending_kind, 'Soort uitgave' %>
    </div>
    <div class="input">
      <%= f.text_field :spending_kind, :class => 'combobox',
        :'data-combobox-values' => Spending::KINDS.keys.to_json %>
    </div>
  </div>
  
  <div class="field">
    <div class="label">
      <%= f.label :opvoerbaarheid_pct, 'Opvoerbaar voor' %>
    </div>
    <div class="input">
      <%= f.text_field :opvoerbaarheid_pct, :class => 'percentage' %>%
    </div>
  </div>
  
  <div class="field">
    <%= f.check_box :depreciable %>
    <%= f.label :depreciable, 'Met deze uitgave is een ding gekocht wat afgeschreven moet worden' %>
  </div>
  
  <div class="field">
    <div class="label">
      <%= f.label :comments, 'Commentaar' %>
    </div>
    <div class="input">
      <%= f.text_area :comments, :cols => nil, :rows => nil %>
    </div>
  </div>
  
  <div class="field">
    <div class="label">
      <%= f.label :vendor_country, "Verkoper's land van vestiging" %>
    </div>
    <div class="input">
      <%= f.text_field :vendor_country, :class => 'combobox',
        :'data-combobox-values' => ['Nederland', 'Duitsland', 'Rusland', 'Verenigde Staten'].to_json %>
    </div>
  </div>
  
  <div class="field">
    <div class="label">
      <%= f.label :vendor_vat_number, 'Europese BTW-nummer van de verkoper' %>
    </div>
    <div class="input">
      <%= f.text_field :vendor_vat_number %> [Controleer knop hier]
    </div>
  </div>
  
  <div class="actions">
    <% if @spending.new_record? %>
      <%= f.submit 'Opslaan & registreer nog een uitgave', :class => 'primary button' %>
    <% else %>
      <%= f.submit 'Opslaan', :class => 'primary button icon edit' %>
    <% end %>
    
    <% if !@spending.new_record? || request.xhr? %>
      <div class="group">
        <% if !@spending.new_record? %>
          <input type="reset" value="Reset naar originele waarden" class="button">
        <% end %>
        <% if request.xhr? %>
          <input type="button" value="Annuleren" class="cancel button">
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
