<h1>Listing spendings</h1>

<%= link_to 'Registreer een uitgave', new_spending_path, :class => 'button icon add' %>

<div class="data_container">
<table class="data spendings">
  <tr>
    <th style="width: 0%">#</th>
    <th style="width: 9%">Datum</th>
    <th style="width: 0%"><span>Bedrag</span> <span>(inc BTW)</span></th>
    <th style="width: 0%"><span>Bedrag</span> <span>(ex BTW)</span></th>
    <th style="width: 0%">BTW</th>
    <th style="width: 15%">Geldbron</th>
    <th style="width: 66%">Commentaar</th>
    <th style="width: 10%"></th>
  </tr>
  <%= render :partial => @spendings %>
  <tr class="aggregate">
    <td></td>
    <td></td>
    <td><%= "%.2f" % @aggregate.amount_inc_vat %></td>
    <td><%= "%.2f" % @aggregate.amount_ex_vat %></td>
    <td><%= "%.2f" % @aggregate.vat %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>

<%= link_to 'Registreer een uitgave', new_spending_path, :class => 'button icon add' %>
